<!DOCTYPE html>


@{
    ViewBag.Title = "About";
}

<html>
<head>
    <style>
    </style>


</head>



<body>
<center>
    <h1>Winter, <i>made easy</i></h1>
    <p>Welcome!</p>
    <p>Compare lift ticket prices, before you get there!</p>

</center>
    </body>





</html>