@{
    ViewBag.Title = "Contact";
}
<br /><br />
<h3>We want to hear from you!</h3>
<br /><br />
<address>
    Wintering, Made Easy<br />
    100 Valley Lane<br />
    Stratham, NH 03885<br />
    <abbr title="Phone">P:</abbr>
    555.555.0100
</address>
<br /><br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">WinterSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">WinterMarketing@example.com</a>
</address>